[Unit]
Description=Splitflap OS Web Server
After=network.target splitflap-network.service
Wants=splitflap-network.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/splitflap-os/server
ExecStart=/opt/splitflap-os/venv/bin/python app.py
Restart=on-failure
RestartSec=5
Environment=SPLITFLAP_CONFIG=/opt/splitflap-os/server/settings.json

[Install]
WantedBy=multi-user.target
